* {
    margin: 0;
    padding: 0;
}

#titulo {
    font-family: sans-serif;
    color: #0e2a1a;
    margin-left: 25%;
} 

#subtitulo {
    font-family: sans-serif;
    color: #0e2a1a;
    margin-left: 30%;
} 

#check{
    display: inline-block;
}

fieldset {
    border: 0;
}

body{
    background-color: #d5f1e1;
    font-family: sans-serif;
    font-size: 1em;
    color: #0e2a1a;
    margin-left: 18%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: #0e2a1a;
    border-radius: 5px;
}

.grupo:before, .grupo:after {
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #0e2a1a;
    display: block;
}

fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #0e2a1a;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #bbe6be;
}

.botao {
    font-size: 1.2em;
    background: #0e2a1a;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 95%;
    left: 49%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.botao:hover {
    background: #456848;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.1);
    text-shadow: none;
}

.botao, select{
    cursor: pointer;
}
